In [51]:
import pymongo
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.max_columns = 999
DB_NAME = "BI_COMMERCE"

client = pymongo.MongoClient()
db = client[DB_NAME]


collection_names = ['brazilian-ecommerce/olist_public_dataset_v2',
                    'brazilian-ecommerce/product_category_name_translation',
                    'brazilian-ecommerce/payments_olist_public_dataset',
                    'brazilian-ecommerce/product_measures_olist_public_dataset_',
                    'brazilian-ecommerce/geolocation_olist_public_dataset',
                    'brazilian-ecommerce/olist_classified_public_dataset',
                    'brazilian-ecommerce/sellers_olist_public_dataset_',
                    'brazilian-ecommerce/olist_public_dataset_v2_customers']

In [52]:
# Read in data from the mongo db database

k = collection_names[0]
public = pd.DataFrame(list(db[k].find()))
del public["_id"]
k = collection_names[1]
cat_names = pd.DataFrame(list(db[k].find()))
del cat_names["_id"]
k = collection_names[2]
payments = pd.DataFrame(list(db[k].find()))
del payments["_id"]
k = collection_names[3]
products = pd.DataFrame(list(db[k].find()))
del products["_id"]
k = collection_names[4]
geo_loc = pd.DataFrame(list(db[k].find()))
del geo_loc["_id"]
k = collection_names[5]
classified = pd.DataFrame(list(db[k].find()))
del classified["_id"]
k = collection_names[6]
sellers = pd.DataFrame(list(db[k].find()))
del sellers["_id"]
k = collection_names[7]
public_customers = pd.DataFrame(list(db[k].find()))
del public_customers["_id"]

In [53]:
public.order_purchase_timestamp = pd.to_datetime(public.order_purchase_timestamp)
public["month"] = public.order_purchase_timestamp.apply(lambda x:x.month)
public["year"] = public.order_purchase_timestamp.apply(lambda x:x.year)
public["first_day_month"] = public.order_purchase_timestamp.apply(lambda x:x.replace(day=1, minute=0, hour=0, second=0))
public["order_product"] = public["order_id"]+"_"+public["product_id"]

In [96]:
myvar = public.order_id.unique()[89]
public.to_csv("orders_general.csv")

In [98]:

cat_names.to_csv("category_names.csv")
cat_names.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [99]:
payments.to_csv("payments.csv")
payments.head()

,installments,order_id,payment_type,sequential,value
0,1,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,1,65.71
1,8,ba78997921bbcdc1373bb41e913ab953,credit_card,1,107.78
2,2,42fdf880ba16b47b59251dd489d4441a,credit_card,1,128.45
3,1,771ee386b001f06208a7419e4fc1bbd7,credit_card,1,81.16
4,1,62fe0bd75deb58982ebf8e53a128a301,credit_card,1,15.82

In [100]:
products.to_csv("products.csv")
products.head()

,product_height_cm,product_id,product_length_cm,product_weight_g,product_width_cm
0,9.0,00faa46f36261af8bbf3a4d37fa4841b,21.0,100.0,14.0
1,5.0,b497d0032ea073dd58bbd2d7809d25b3,23.0,750.0,15.0
2,6.0,96bd76ec8810374ed1b65e291975717f,16.0,200.0,19.5
3,13.0,506110a1603e772a8ff52ea1f0b0431d,16.0,200.0,13.0
4,4.0,feb593f17c2f51af2932dbba3e99f1cb,35.0,50.0,26.0

In [102]:
classified.order_aproved_at = pd.to_datetime(classified.order_aproved_at)
classified.order_delivered_customer_date = pd.to_datetime(classified.order_delivered_customer_date)
classified.order_delivered_customer_date = pd.to_datetime(classified.order_delivered_customer_date)
classified.order_purchase_timestamp = pd.to_datetime(classified.order_purchase_timestamp)
classified.review_answer_timestamp = pd.to_datetime(classified.review_answer_timestamp)
classified.review_creation_date = pd.to_datetime(classified.review_creation_date)
try:
    del classified["review_comment_title"]
except:
    pass

classified.to_csv("classified_orders.csv")
classified.dtypes

Unnamed: 0                                int64
customer_city                            object
customer_state                           object
customer_zip_code_prefix                  int64
id                                        int64
most_voted_class                         object
most_voted_subclass                      object
order_aproved_at                 datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date            object
order_freight_value                     float64
order_items_qty                           int64
order_products_value                    float64
order_purchase_timestamp         datetime64[ns]
order_sellers_qty                         int64
order_status                             object
product_category_name                    object
product_description_lenght                int64
product_name_lenght                       int64
product_photos_qty                        int64
review_answer_timestamp          datetime64[ns]
review_comment_message                   object
review_creation_date             datetime64[ns]
review_score                              int64
votes_before_estimate                     int64
votes_delayed                             int64
votes_low_quality                         int64
votes_not_as_anounced                     int64
votes_other_delivery                      int64
votes_other_order                         int64
votes_partial_delivery                    int64
votes_return                              int64
votes_satisfied                           int64
dtype: object

In [103]:
sellers.to_csv("sellers.csv")
sellers["order_product"] = sellers["order_id"]+"_"+sellers["product_id"]
sellers.query("order_id == @ myvar").T

                                                                    70594
order_id                                 cf5f0ccb20005e234f3e0dd745a79df7
product_id                               78119fbfa709d07b86f5ccf15043c6d6
seller_city                                                    pradopolis
seller_id                                b33e7c55446eabf8fe1a42d037ac7d6d
seller_state                                                           SP
seller_zip_code_prefix                                                148
order_product           cf5f0ccb20005e234f3e0dd745a79df7_78119fbfa709d...

In [104]:
public_customers.to_csv("public_customers.csv")
public_customers.head()

                        customer_id                customer_unique_id
0  0000ca4ff2795842fd6b122c6d974468  ac0e5d7f07043dd32831bdad3b99ad26
1  00010f206878ba01f199aec4237de72e  4ed24aaed4079fe0661c0e4b3b420dff
2  00012a2ce6f8dcda20d059ce98491703  7e0e291c0f4fc2d69208954d26ed0586
3  000161a058600d5901f007fab4c27140  ff1dcb27ea444eddb94ea5fea77b875c
4  00017f1d6cce0d56046219a2cfabcbbb  237130c4b6717031ed62d9d0b16fd94f